@page "/archive/{id}"

@using Scoreboard.Data
@using Scoreboard.Data.Models
@inject MongoDataAccess Mongo

<h1>@SeasonArchive.ArchiveName Scores</h1>
<p>Super basic scoreboard for now</p>

@if (participants == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Golfer</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in participants)
            {
                <tr>
                    <td>@user.DisplayName</td>
                    <td>@user.Score</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Archive SeasonArchive { get; set; }

    private List<Participant> participants;

    protected override async Task OnInitializedAsync()
    {
        SeasonArchive = Mongo.GetArchive(Id);
        participants = SeasonArchive.Participant.OrderBy(p => p.Score).ToList();
    }
}
